.barra {
           scrollbar-3dlight-color:gold;
           scrollbar-arrow-color:red;
           scrollbar-base-color:;
           scrollbar-darkshadow-color:hotpink;
           scrollbar-face-color:darksalmon;
           scrollbar-highlight-color:yellow;
           scrollbar-shadow-color:black;
}