a {
	text-decoration:none;
	color: #;
}
a:link {
	color: #;
	text-decoration: none;
}
a:visited {
	color: #;
	text-decoration: none;
}
a:hover {
	color: #;
	text-decoration: none;
}
a:active {
	color: #;
	text-decoration: none;
}